body {
  background-color: #D3D3D3;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 28px;
  line-height: 2;
  text-align: center;
  margin: 300px auto;
}

ul {
  padding-inline-start: 0px;
}

.pokemon-list {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: #fff;
  list-style-type: none;
  /* padding-left: 20px; */

}

.tab {
  background-color: #ADD8E6;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: block;
  text-align: left;
  padding-left: 1.5rem;
  width: 90%;
  height: 5rem;
  margin: 1rem auto;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  border-right: 2px solid rgba(0, 0, 0, 0.8); */
  transition: 0.2s opacity;
  font-size: 24px;
}

.tab:hover{
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  body {
    margin: 150px auto;
  }

  .pokemon-list {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .pokemon-list {
    width: 80%;
  }
  .tab {
    height: 8rem;
  }
}
